<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>サイコロを振る</title>
</head>
<body>
  <h1>サイコロを振る</h1>
  

  <form action="/dice" method="get">
    <label for="rolls">サイコロを振る回数を入力してください：</label>
    <input id="rolls" name="rolls" min="1" placeholder="半角で数字を入力" required>
    <button type="submit">振る</button>
  </form>

  <% if (results.length > 0) { %>
    <h2>サイコロを<%= rolls %>回振った結果</h2>
    <p>サイコロの平均値: <%= average.toFixed(60) %></p>
    <ul>
      <% results.forEach(function(result) { %>
        <li><%= result %></li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>

